.body
{
    background-image: url('BG.jpg');
}
.edit_font
{
    color: white;
    font-family: cursive;
    font-size: 50px;
}
#h4
{
    color: white;
}
#user_name
{
    width: 500px;
}
#btn1
{
    font-size: 20px;
    font-family: cursive;
    background-color: #ff4848;
    border-radius: 10px;
    border-color: #ff4848;
    color: white;
}
#h5
{
    color: white;
    background-color: rgb(236, 106, 106);
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#div1
{
    background-color: #fa7070;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fb0303' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 600px;
    height: 250px;
    border-radius: 10px;
    padding-top: 50px;
}